---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Base.astro";

export async function getStaticPaths() {
	const courses = await getCollection("courses");
	const authors = await getCollection("authors");

	return authors.map((author) => ({
		params: { slug: author.id },
		props: {
			author: author,
			courses: courses.filter((c) =>
				c.data.authors.find((a) => a.id === author.id),
			),
		},
	}));
}

type Props = {
	author: CollectionEntry<"authors">;
	courses: CollectionEntry<"courses">[];
};

const { courses, author } = Astro.props;
---

<Layout>
	<h1>{author.data.name}</h1>
	<ul>
		{
			courses.map((course) => (
				<li>
					<a
						href={`/courses/${course.slug}`}
						class="block bg-gray-600 px-2 py-1 hover:bg-gray-700"
					>
						<h2 class="text-xl leading-tight font-bold md:text-2xl">
							{course.data.title}
						</h2>
						<p class="text-balance">{course.data.description}</p>
					</a>
				</li>
			))
		}
	</ul>
</Layout>
