---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<a href="/course">Get started</a>
	<h2>Our approach</h2>
	<ul>
		<li>
			Our explanation sections provide a hands-on approach to learning. We have
			interactive examples whenever possible.
		</li>
		<li>
			There are a lot of example projects for you to put into practice what
			you've learned. We provide example solutions for each exercise you can
			look at and compare it with your solution.
		</li>
		<li>
			We provide tools you can use right from your browser to ensure a simple
			start. If you want to run everything on you own computer, we provide a
			setup guide you can follow to get up and running as fast as possible.
		</li>
	</ul>
</Layout>
