---
import Layout from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<a href="/" class="block px-4 py-2 font-serif text-2xl font-bold"
		>SystemCraft</a
	>
	<article class="prose mx-auto max-w-5xl px-4 py-16">
		<h1
			id="informationspflicht-bei-erhebung-von-personenbezogenen-daten-gem-art-13-ds-gvo"
		>
			Informationspflicht bei Erhebung von personenbezogenen Daten gemäß Art. 13
			DS­-GVO
		</h1>
		<h2 id="angaben-zum-verantwortlichen-dem-unternehmen-">
			Angaben zum Verantwortlichen (dem Unternehmen)
		</h2>
		<p>
			Mayer &amp; Ott GbR Ludwig-Erhard-Str. 18 c/o IP-Management #4914 20459
			Hamburg
		</p>
		<p>
			<a href="mailto:hello@bloodmagesoftware.de">hello@bloodmagesoftware.de</a>
		</p>
		<h2 id="ansprechpartner-f-r-datenschutzrechtliche-fragen">
			Ansprechpartner für datenschutzrechtliche Fragen
		</h2>
		<p>
			Bei Fragen zum Datenschutz stehen wir Ihnen unter <a
				href="mailto:privacy@bloodmagesoftware.de"
				>privacy@bloodmagesoftware.de</a
			> oder unter der oben angegebenen postalischen Anschrift zur Verfügung.
		</p>
		<h2
			id="verarbeitung-ihrer-personenbezogenen-daten-zwecke-und-rechtsgrundlagen"
		>
			Verarbeitung Ihrer personenbezogenen Daten – Zwecke und Rechtsgrundlagen
		</h2>
		<h3 id="datenverarbeitung-im-unternehmen">
			Datenverarbeitung im Unternehmen
		</h3>
		<p>
			Wir verarbeiten personenbezogene Daten auf Grundlage von
			datenschutzrechtlichen Regelungen der Datenschutz-Grundverordnung (DS-GVO)
			sowie des Bundesdatenschutzgesetzgesetzes (BDSG) und ggf. den
			Landesdatenschutzgesetzen der einzelnen Bundesländer. Die Daten der
			folgenden Personengruppen werden von den jeweils zuständigen Personen im
			Unternehmen zur Aufgabenerfüllung verarbeitet.
		</p>
		<p>Im Einzelnen bedeutet dies:</p>
		<p>
			++Kund*innendaten++ werden zur Durchführung und Betreuung des
			Vertragsverhältnisses oder dem vorvertraglichen Verhältnis sowie von
			Kontaktanfragen und zur Kommunikation auf Grundlage von Art. 6 Abs. 1 S. 1
			Buchstabe b) DS-GVO und Art. 6 Abs. 1 S. 1 Buchstabe c) DS-GVO
			verarbeitet.
		</p>
		<h2 id="empf-nger-der-personenbezogenen-daten">
			Empfänger der personenbezogenen Daten
		</h2>
		<p>Die Daten werden an folgende Empfänger weitergegeben:</p>
		<p>
			Google LLC oder GitHub Inc., wenn diese für den Login genutzt werden. Für
			den Login werden keine Cookies verwendet.
		</p>
		<p>
			Google LLC, wenn der Login generell verwendet wird, da Profildaten mit
			Google Cloud gespeichert werden.
		</p>
		<h2 id="speicherdauer">Speicherdauer</h2>
		<p>
			Die von uns gespeicherten personenbezogenen Daten werden nach Maßgabe von
			gesetzlichen Vorgaben gelöscht. Wir löschen die Daten, sobald sie für den
			Verarbeitungszweck nicht mehr erforderlich sind, eine gegebene
			Einwilligung widerrufen wird oder sonstige Erlaubnisse entfallen. Daten,
			die z.&nbsp;B. aus handels- oder steuerrechtlichen Gründen noch aufbewahrt
			werden müssen oder deren Speicherung noch für die Geltendmachung, Ausübung
			oder Verteidigung von Rechtsansprüchen erforderlich ist, werden gelöscht,
			sobald dies nicht mehr der Fall ist.
		</p>
		<h2 id="betroffenenrechte">Betroffenenrechte</h2>
		<p>
			Wenn wir personenbezogene Daten von Ihnen verarbeiten, haben Sie folgende
			Betroffenenrechte:
		</p>
		<ul>
			<li>
				ein Recht auf Auskunft über die verarbeiteten Daten und auf Kopie,
			</li>
			<li>
				ein Berichtigungsrecht, wenn wir falsche Daten über Sie verarbeiten,
			</li>
			<li>
				ein Recht auf Löschung, es sei denn, dass noch Ausnahmen greifen, warum
				wir die Daten noch speichern, also zum Beispiel Aufbewahrungspflichten
				oder Verjährungsfristen
			</li>
			<li>ein Recht auf Einschränkung der Verarbeitung,</li>
			<li>
				ein jederzeitiges Recht, Einwilligungen in die Datenverarbeitung zu
				widerrufen,
			</li>
			<li>
				ein Widerspruchsrecht gegen eine Verarbeitung im öffentlichen oder bei
				berechtigtem Interesse,
			</li>
			<li>ein Recht auf Datenübertragbarkeit,</li>
			<li>
				ein Beschwerderecht bei einer Datenschutz-Aufsichtsbehörde, wenn Sie
				finden, dass wir Ihre Daten nicht ordnungsgemäß verarbeiten. Für unser
				Unternehmen ist der Hamburgische Beauftragte für Datenschutz und
				Informationsfreiheit zuständig. Wenn Sie sich in einem anderen
				Bundesland oder nicht in Deutschland aufhalten, können Sie sich aber
				auch an die dortige Datenschutzbehörde wenden.
			</li>
		</ul>
	</article>
	<Footer />
</Layout>
