<footer class="mt-16 w-full bg-gray-900 py-24">
	<a href="/rss.xml" class="mx-auto block w-fit text-cyan-500 underline"
		>Courses RSS Feed</a
	>
	<a href="/privacy" class="mx-auto block w-fit text-cyan-500 underline"
		>Privacy Policy</a
	>
	<span class="mx-auto block w-fit">
		&copy; {new Date().getFullYear()} by <a
			href="https://bloodmagesoftware.de/"
			class="text-cyan-500 underline">Bloodmage Software</a
		>
	</span>
</footer>
