---
import { twMerge } from "tailwind-merge";
export interface Props {
	class?: string;
}
---

<footer class={twMerge("w-full bg-gray-900 mt-16 py-24", Astro.props.class)}>
	<a href="/rss.xml" class="mx-auto block w-fit text-cyan-500 underline"
		>Courses RSS Feed</a
	>
	<a href="/privacy" class="mx-auto block w-fit text-cyan-500 underline"
		>Privacy Policy</a
	>
	<span class="mx-auto block w-fit">
		&copy; {new Date().getFullYear()} by <a
			href="https://bloodmagesoftware.de/"
			class="text-cyan-500 underline">Bloodmage Software</a
		>
	</span>
</footer>
