---
import { getCollection } from "astro:content";
import Layout from "../../layouts/App.astro";
import Footer from "../../components/Footer.astro";

const courses = await getCollection("courses");

function slugToTitle(slug: string): string {
	return slug.replace(/_/g, " ").replace(/\b\w/g, (c) => c.toUpperCase());
}

// Group courses by the first segment of the slug
const grouped = courses.reduce((acc, course) => {
	const key = slugToTitle(course.slug.split("/")[0]);
	(acc[key] ||= []).push(course);
	return acc;
}, {});
---

<Layout>
	<div class="pb-16" style={{ minHeight: "calc(100lvh - 21.5rem)" }}>
		<h1 class="hidden">Courses</h1>
		{
			Object.entries(grouped).map(([group, items]) => (
				<section class="mx-auto w-full max-w-7xl">
					<h2 class="mt-6 mb-2 font-serif text-xl font-bold capitalize">
						{group}
					</h2>

					<div class="mx-auto grid w-full max-w-7xl grid-cols-1 gap-4 px-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
						{items.map((course) => (
							<a
								class="rounded border border-solid border-gray-700 px-4 py-2"
								href={`/courses/${course.slug}`}
							>
								<h3 class="font-serif font-bold">{course.data.title}</h3>
								<p class="text-balance text-gray-400">
									{course.data.description}
								</p>
							</a>
						))}
					</div>
				</section>
			))
		}
	</div>
	<Footer />
</Layout>
